* {
    font-family: work sans;
}

/* header section styles */
.header {
    background-image: url('images/banner/banner2.png');
    background-repeat: no-repeat;
    width: 1599px;
    height: 837px;
    background-position: right;
    align-items: center;
}

.banner {
    text-align: right;
    padding-right: 229px;
    padding-top: 214px;
    direction: rtl;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    max-width: 525px;
    max-height: 228px;
    text-align: right;
    padding-bottom: 24px;


}

.banner-description {
    color: #444343;
    width: 494px;
    height: 78px;
    text-align: right;
    width: 494px;
    height: 78px;
}

.btn-primary {
    width: 160px;
    height: 64px;
    background: #F15B22;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
}

/* failure section styles */


.failure-item {
    margin: 30px 310px 136px 218px;
    display: flex;
    gap: 85px;
    
}

.failure-img {
    width: 569px;
    height: 723.3px;

}

.failure-heading{
    font-size: 40px;
    font-weight: 1000;
}
.failure-item-container {
    width: 416px;
    height: 400px;
    margin-top: 250px;
}

.failure-description {
    margin-top: 20px;

}

.failure-description .failure-item-ul {
    font-size: 10px;
}

.failure-item-ul {
    list-style-image: url('images/icons/check-solid.svg');
}

.failure-item-list {
    height: 34px;
}

/* plan section styles */

.plan {
    width: 1141px;
    height: 299.96px;
}

.plan-title {
    font-weight: 700;
    font-size: 40px;
    width: 179px;
    height: 47px;
    margin-bottom: 71px;
    align-items: center;
    padding-left: 500px;
}

.plan-item {
    margin-left: 230px;
    margin-right: 229px;
    width: 1141px;
    height: 299.96px;
    text-align: center;
}





.plan-item-content {
    display: flex;
    justify-content: space-around;
    gap: 86px;
}

.plan-sub-title {
    font-weight: 700;
    font-size: 25px;
    color: #151414;
    margin: 16px;
    text-align: center;
}

.plan-para {
    font-weight: 500;
    font-size: 15px;
    color: #737272;
    padding-bottom: 130px;
    text-align: center;
}

.plan-img {
    width: 92.96px;
    height: 92.96px;
    margin-bottom: 24px;
}

/* positive section styles */
.positive {
    background: linear-gradient(90deg, rgba(228, 93, 15, 1.5), rgb(255,255,255,0)), url('images/watch.png');
    background-position:left;
    background-repeat: none;
    display: grid;
    margin: 130px 230px;
    width: 1140px;
    height: 300px;

}

.positive-item {
    width: 459px;
    height: 150px;
    margin-bottom: 10px;
}

.positive-title {
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 700;
    width: 459px;
    height: 94px;
    padding-left: 64px;
    padding-top: 30px;
    text-align: left;

}

.btn-second {
    color: #F15B22;
    margin-left: 64px;
    margin-bottom: 90px;
    font-weight: 600;
    font-size: 20px;
    align-items: center;
    border-radius: 5%;
    border: 0;
    width: 160px;
    height: 64px;
}


/* footer styles */

.footer {
    display: flex;
    gap: 330px;
    background: #151414;
    color: #F8F8F8;
    padding-left: 230px;
    padding-top: 130px;
    width: 1600px;
    height: 577px;
}

.footer-title {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 16px;

}

.footer-description {
    margin-bottom: 24px;
    width: 485px;
    height: 78px;
}

.footer-contact {
    width: 184px;
    height: 26px;
    padding-bottom: 130px;
}

.footer-img {
    display: flex;
    gap: 18px;
}

.img {
    width: 47px;
    height: 46px;
}

.sub {
    width: 123px;
    height: 29px;
    font-weight: 600;
    font-size: 25px;
}

.input{
    width: 100%;
}

.input input, button {
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 21px;
    width: 100%;
    margin-bottom: 20px;
    border: 0;
}

.btn-third {
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    width: 100%;
    height: 60px;
    text-align: center;
}